<% provide(:title, 'Home') %>

<div class="contact jumbotron">
  <%= image_tag('home.jpg' , class:'w-100')  %>
    <hr>
   <h1 class="text-center text-success">E-Learning</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenderit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?
    <br>
   Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!
   <br>
   Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.</p>
</div>