<% @user ||= current_user %>
<section>
    <div class="stats">
        <div class="text-left pl-4">
            <a href="<%= following_user_path(@user) %>">
                <strong id="following" class="stat">
                    <%= @user.followed_users.count %>
                </strong>
                following
            </a>
        </div>
        <a href="<%= followers_user_path(@user) %>">
            <strong id="followers" class="stat">
                <%= @user.followers.count %>
            </strong>
            followers 
        </a>
    </div>
</section>