<% provide(:title,'word') %>  
  <br>
<div class="container">
    <div class="form">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <%= "category.title"%>
                    </div>
                </div>
                <div class="card-body">
                    <%= "words"%>
                    <%= "choices"%>
                </div>
            </div>
    </div>
</div>
